asgiref==3.5.2
astroid==2.12.11
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.5
dill==0.3.5.1
distlib==0.3.6
Django==4.0.6
filelock==3.8.0
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysql-connector-python==8.0.30
platformdirs==2.5.2
protobuf==3.20.1
pygame==2.1.2
pylint==2.15.4
pyTelegramBotAPI==4.7.0
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
telebot==0.0.4
tomli==2.0.1
tomlkit==0.11.5
typing_extensions==4.4.0
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.16.5
wikipedia==1.4.0
wrapt==1.14.1
